<div class="container">
    <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
<h2>お知らせ</h2>
  <% @notifications.each do |notification| %>
    <div class="row">
        <div class="col-md-2 col-sm-6"> 
            <%= profile_img(notification.comment.user) %>
        </div>
        <p>
            <strong><%= notification.comment.user.try(:name) %></strong>さんが
            あなたのブログ（<%= link_to "#{notification.comment.blog.title}", blog_path(notification.comment.blog, notification_id: notification.id) %>）にコメントしました。
        </p>
        <span class="timestamp">
            <%= time_ago_in_words(notification.created_at) %> 前&emsp;<%= "未読" unless notification.read %>
        </span>
    </li>
    </div>
  <% end %>
</ul>
    </div>
</div>